.table-container {
  border-top: 1px solid #E9E8E5;

  .table-head {
    background-color: #F5F4EE;

    th {
      font-size: 10px;
      font-weight: 600;
      color: #62615C;
      padding: 3px 16px;
    }
  }
}